@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 178, 100%, 25%; /* Flow Teal */
    --primary-foreground: 186, 100%, 94%;

    --secondary: 210, 98%, 52%; /* Flow Blue */
    --secondary-foreground: 0 0% 100%;
    
    --accent: 48, 100%, 59%; /* Flow Yellow */
    --accent-foreground: 48, 100%, 10%;

    --impact: 14, 90%, 58%; /* Flow Orange */
    --impact-foreground: 0 0% 100%;
    
    --success: 139, 59%, 41%; /* Functional Green */
    --success-foreground: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    
    --radius: 0.75rem;
  }

  .dark {
    --background: 224, 71%, 4%;
    --foreground: 210, 40%, 98%;
    
    --card: 222, 47%, 11%;
    --card-foreground: 210, 40%, 98%;
    
    --popover: 224, 71%, 4%;
    --popover-foreground: 210, 40%, 98%;
    
    --primary: 178, 100%, 35%; /* Brighter Flow Teal */
    --primary-foreground: 186, 100%, 96%;
    
    --secondary: 210, 100%, 50%; /* Brighter Flow Blue */
    --secondary-foreground: 210, 40%, 98%;
    
    --accent: 45, 100%, 51%; /* Brighter Flow Yellow */
    --accent-foreground: 45, 86%, 12%;
    
    --impact: 14, 100%, 63%; /* Brighter Flow Orange */
    --impact-foreground: 0, 0%, 100%;
    
    --success: 139, 65%, 45%; /* Brighter Green */
    --success-foreground: 0, 0%, 100%;
    
    --muted: 217, 33%, 17%;
    --muted-foreground: 215, 20%, 65%;
    
    --border: 217, 33%, 17%;
    --input: 217, 33%, 17%;
    
    --destructive: 0, 63%, 31%;
    --destructive-foreground: 210, 40%, 98%;
    
    --ring: 215, 20%, 65%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
